:root {
  /* --blue: #4E5CD1; */
  --blue: #95caff;
  --contrast: #ffffff;

  /* --red: #CE5055; */
  --red: #ff807a;

  /* --purple: #673ab7; */
  --purple: #ffff73;
}

body {
  font-family: "Nunito", sans-serif;
  line-height: 1;
  position: relative;
  color: #ffffff;
}

body:before {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background-image: url("../assets/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 0;
}

body:after {
  display: block;
  content: "";
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(3, 3, 3, 0.73);
  z-index: 1;
}

h1 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 60px;
  // height: 70vh;
  &.fixed-title {
    position: sticky;
    top: 150px;
  }
}

.container {
  width: 100%;
  padding-top: 100px;
  margin-bottom: 300px;
  position: relative;
  z-index: 2;
}

.inline-block {
  display: inline-block;
}

.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.part {
  font-size: 50px;
  padding: 30px 15px;
  display: flex;
  letter-spacing: 1.8px;
}

.partial {
  position: relative;
  display: inline-block;
}
.partial.small {
  margin: 0 14px;
}

.partial.date {
  color: var(--blue);
}
.partial.date .brace {
  color: var(--blue);
}

.partial.T {
  color: var(--contrast);
  margin: 0 10px;
}
.partial.T .brace {
  color: var(--contrast);
}

.partial.T .brace {
  padding-bottom: 11.5px;
  background-image: radial-gradient(
      circle at 2.5px -2px,
      rgb(166 53 53 / 0%) 17.5px,
      currentColor -6.5px,
      currentColor 19.5px,
      rgb(8 131 12 / 0%) 0.5px
    ),
    radial-gradient(
      circle at 32.5px -1px,
      rgb(166 53 53 / 0%) 16.5px,
      currentColor 5.5px,
      currentColor 18.5px,
      rgba(255, 255, 255, 0) 7.5px
    );
}
.partial.T .brace:before {
  width: calc(50% + 5px);
}
.partial.T .brace:after {
  width: calc(50% + 5px);
}

.partial.time {
  color: var(--red);
}
.partial.time .brace {
  color: var(--red);
}

.partial.timezone {
  color: var(--purple);
}
.partial.timezone .brace {
  color: var(--purple);
}

.sympol {
  margin: 0 10px;
}

.article {
  display: flex;
  align-items: center;
  width: 90%;
  height: 70vh;
  // margin: 50px 0;

  .title {
    width: 232px;
    margin-right: 60px;
    text-align: right;
    color: #ffffff;
    font-size: 50px;
    font-weight: 500;
  }
}
